<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info">
      Planai išrikiuoti pagal jūsų poreikį (mažėjimo tvarka t.y. pirmas tinkamiausias ir t.t.).
    </div>
  </div>
</div>